@import "base/_reset.sass"
@import "utlils/_mixins.sass"


body 
    min-height: 400vh
    font-family: 'Raleway', sans-serif
    min-width: 320px


.wrapper
    max-width: 1600px
    margin: 0 auto
    position: relative

@import "components/_header.sass"
@import "components/_main-side.sass"